<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form th:action="@{/user/signup}" method="post">
        <h1>Sign Up</h1>
        <br>
        <p>
            <input type="text" name="email" placeholder="이메일 입력해주세요">
        </p>
        <p>
            <input type="text" name="nickname" placeholder="닉네임을 입력해주세요">

        </p>
        <p>
            <input type="password" name="password" placeholder="비밀번호">
        </p>
        <button type="submit">회원가입</button>
    </form>
</div>


</body>
</html>